<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accounts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Accounts</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!accountService.userNeedsToUploadAccountsSpreadsheet; else noAccountsTemplate">
    <ion-button (click)="downloadDataAsCSV()">
      Export
    </ion-button>
    <ag-grid-angular style="height: 150px" class="ag-theme-alpine" [rowData]="accountsRowData"
      [gridOptions]="gridOptions"></ag-grid-angular>
  </div>

  <ng-template #noAccountsTemplate>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Error</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        No accounts recognized. Please upload your accounts spreadsheet in the home tab first.
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>