<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Accounts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <table class="sjs-table">
    <tr *ngFor="let row of accountService.uploadedFile">
      <td *ngFor="let cellValue of row">
        {{ cellValue }}
      </td>
    </tr>
  </table> -->

  <ag-grid-angular style="width: 500px; height: 500px;" class="ag-theme-alpine" [rowData]="rowData"
    [columnDefs]="columnDefs">
  </ag-grid-angular>
</ion-content>